body{
    margin:0;
    padding:0;
    box-shadow: border-box;
}

.table-info{
    text-align: center;
}
.like-icon{
    cursor: pointer;
    transition: .4s all linear;
}
.like-icon:active{
    transform: scale(0.8)
}
.list-group-item{
    cursor: pointer;
}